<!DOCTYPE html>
<html>
    {{ template "header" }}
    <body>
        <h1>beeline signup!</h1>
        <p>beeline is a platform where you can post messages on a timeline and follow what others are saying!</p>
        <p>It has a builtin chat system and pastebin too!</p>
        {{ if . }}
        <span style="color: red;">Error: {{ .Error }}</span><br>
        {{ end }}
        <form action="/new-user" method="post">
            <input type="text"
                   placeholder="Enter username..."
                   name="username"
                   pattern="([a-zA-Z0-9]){3,255}"
                   title="3-255 Alphanumeric characters"
                   autocomplete="off"
                   autofocus="true"
                   required>
            <input type="password"
                   placeholder="Enter password..."
                   name="password"
                   pattern=".{8,255}"
                   title="8-255 characters"
                   autocomplete="off"
                   required>
            <input type="submit" value="Create User">
        </form>
        <p>Have an account? <a href="/login">Login here!</a></p>
        <br>
    </body>
</html>