{{ define "header" }}

<head>
    <title>beeline</title>
    <link rel="stylesheet" href="/public/water.css">
    <script src="/public/htmx.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        li a:hover {
            background-color: #12191f;
        }

        .navbar_link {
            display: block;
            text-align: center;
            padding: 1em 1em;
            text-decoration: none;
            color: white;
        }
    </style>
    <script>
        function textAreaAdjust() {
            let element = document.getElementById('textarea-paste');
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
        function handleChatSend() {
            setTimeout(() => {
                let element = document.getElementById('message_input');
                element.value = '';
                element.scrollIntoView({ behavior: 'smooth' });
            }, 1);
        }
    </script>
</head>
{{ end }}

{{ define "renderPosts" }}
{{ range . }}
<div>
    <a href="/user/{{ .Username }}">{{ .Username }}</a>
    <span>{{ .Timestamp.Format "Jan 02, 2006 3:04:05PM EST" }}</span>
    <p>{{ .Message }}</p>
</div>
{{ end }}
{{ end }}

{{ define "renderPastes" }}
{{ range . }}
<div>
    <a href="/paste/{{ .ID }}">{{ .ID }}</a>
    <a href="/paste/{{ .ID }}"><span>{{ .Title }}</span></a>
</div>
{{ end }}
{{ end }}

{{ define "navbar" }}
<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #202b38;">
    <li style="float: left;"><a class="navbar_link" href="/">Home</a></li>
    <li style="float: left;"><a class="navbar_link" href="/paste">Pastebin</a></li>
    <li style="float: left;"><a class="navbar_link" href="/logout">Logout</a></li>
    <li style="float: left;"><a class="navbar_link" href="/my-pastes">My Pastes</a></li>
    <li style="float: left;"><a class="navbar_link" href="/chat">Chat</a></li>
    {{ if .IsAdmin }}
    <li style="float: left;"><a class="navbar_link" href="/signup">New User</a></li>
    <li style="float: left;"><a class="navbar_link" href="/monitor">Monitor</a></li>
    <li style="float: left;"><a class="navbar_link" href="/users">Users</a></li>
    {{ end }}
</ul>
{{ end }}